<!-- link bringing back to home -->
<a ui-sref="home">Home</a>

<h1> Here there are the menu categories </h1>

<!-- qui uso la component categories e posso direttamente chiamare il controller perché l'ho definito su routes.js -->
<!-- il categories= è quello definito sulla route.js. Mentre "categoriesCtrl.categories" sono i dati esposti attraverso il controller-->
<categories categories="categoriesCtrl.categories"</categories>
