
<div>
  <li ng-repeat="category in $ctrl.categories">
    <!-- e qui ci va il link che porta agli items. e che passo lo shortname da aggiungere all'url -->
    {{category.name}} <button ui-sref="items({categoryShortName: category.short_name, categoryName:category.name})">{{category.short_name}}</button>

  </li>
</div>
