
  <h3>My Menu: </h3>
  <ul>
    <li ng-repeat="item in nrdown.foundname track by $index">
      {{item}}
      <button ng-click="nrdown.onRemove({index: $index})">Remove Item</button>
    </li>
  </ul>
