<!doctype html>
<html lang="en" ng-app='Assthree'>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>

<body ng-controller="NarrowItDownController as nrdown">
   <div class="container">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="nrdown.nametofind">
      </div>

      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click=nrdown.searchname(nrdown.nametofind)>Narrow It Down For Me!</button>
      </div>

      <found-items
        foundname="nrdown.foundname"
        on-remove="nrdown.removeItem(index)"></found-items>

  </div>

</body>
</html>
