<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="checkiftoomuch">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu"
             type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="inputvalue"
             ng-list/>
         </div>
         <div class="form-group">
             <button class="btn btn-default"
                    ng-click = 'updatevalue()'
              >Check If Too Much</button>
         </div>
         <div class="form-group message">
           Total number of disches: {{ inputvalue.length }}
           <br>
           Message: {{message}}
         </div>
   </div>

</body>
</html>
