<!doctype html>
<html lang="en" ng-app='ShoppinglistApp'>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" ></script>
    <script type="text/javascript" src="app.js"></script>

    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='tobuylist as tobuy'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in tobuy.shoppinglist track by $index">Buy: {{item.quantity}} {{item.name}}
         <button class="btn btn-default" ng-click="tobuy.addandremoveitem(item.quantity,item.name,$index)">
         <span class="glyphicon glyphicon-ok"></span> Bought</button>
       </li>
     </ul>
     <div class="emptyMessage" ng-if="tobuy.message">{{tobuy.message}}</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='boughtlist as bought'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.items"> {{item.quantity}} {{item.name}}</li>
     </ul>
     <div class="emptyMessage" ng-show="!bought.items.length">{{bought.message}}</div>
    </div>

  </div>
</div>

</body>
</html>
